* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  background: #ffffff;
  letter-spacing: 0.03rem;
  line-height: 1;
}

textarea {
  resize: none;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.hide {
  display: none;
}

.header {
  background: #0086ff;
  width: 100%;
  height: 52px;
  border-bottom: solid 6px #0086ff;
  box-shadow: 0px 3px 5px #aaa;
}

.active-tab {
  border-bottom: solid 6px #ffffff;
}

.btnSave {
  position: relative;
  padding: 11px 5px 11px 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background: #ff5200;
  border: none;
  border-radius: 5px;
  margin: 8px;
  width: 100px;
  cursor: pointer;
}

.btnSave::before {
  content: "";
  position: absolute;
  background: url(../images/save.svg) no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 6px;
}

.btnSave:hover {
  opacity: 0.9;
}

.page-container {
  width: 100%;
}

.tabs-content {
  width: 100%;
}

/* Custome Radio Button CSS Start*/

.custome_radio {
  margin: 0;
}

.custome_radio:checked,
.custome_radio:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custome_radio:checked + label,
.custome_radio:not(:checked) + label {
  position: relative;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 0px;
  cursor: pointer;
  line-height: 20px;
  letter-spacing: 0.03rem;
  font-weight: bold;
  color: #202020;
  display: inline;
  margin-bottom: 0;
}

.custome_radio:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: 16px;
  height: 16px;
  border: 2px solid #757575;
  border-radius: 100%;
  background: transparent;
}

.custome_radio:checked + label:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: 16px;
  height: 16px;
  border: 2px solid #00aeef;
  border-radius: 100%;
  background: #fff;
}

.custome_radio:checked + label:after,
.custome_radio:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #00aeef;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%;
}

.custome_radio:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custome_radio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custome_radio + label:after,
.custome_radio + label:before {
  box-sizing: unset;
}

.active_custome_radio {
  background: #3a587a;
}
/* Custome Radio Button CSS End*/

/* Bus Master Form CSS */

.bus-master-form {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
}

.form-wrap-left {
  width: 50%;
}

.form-wrap-right {
  width: 50%;
  margin-left: 45px;
}

.selBusNumber {
  padding-bottom: 0px;
}

.input-wrap-lr {
  display: flex;
  width: 100%;
}
.input-wrap-left {
  width: 75%;
}

.input-wrap-right {
  width: 25%;
}

.input-box {
  padding: 1px 0px 1px 0px;
  border: solid 1px #a6a6a6;
  border-radius: 5px;
  position: relative;
}

.form-label {
  position: absolute;
  left: 5px;
  top: -7px;
  color: #777;
  font-size: 12px;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  font-weight: 500;
  pointer-events: none;
  background: #fff;
  padding: 0 2px;
}

.input-box.inputFocus,
.bus-info-select-box.inputFocus,
.gps-select-box.inputFocus {
  border: 2px solid #00aeef;
}
.labelFocus {
  color: #00aeef;
  font-weight: bold;
}

.inputBusNumber {
  width: 98%;
}

.inputDisabled {
  background: #f6f6f6;
  border: solid 1px #dfdfdf;
}

.selMstBusNoType .custome_radio:checked + label,
.selMstBusNoType .custome_radio:not(:checked) + label {
  padding-right: 13px;
}

.inputMstBusNumber {
  width: 98%;
}

.inputCoach,
.inputBusType {
  width: 100%;
}

.busUsageWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.busUsageIcon {
  text-align: center;
}
.busUsageLabel {
  text-align: center;
  margin-top: 5px;
}

.busUsageRadio {
  opacity: 0;
}

.activeBusUsage {
  border: solid 2px #00aeef;
  color: #00aeef;
  font-weight: 600;
}

.activeBusUsage svg {
  fill: #0086ff;
}

.input-wrap input {
  padding: 15px 7px 15px 15px;
  border-radius: 5px;
  width: 100%;
  height: 39px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.txtInputLabel {
  position: absolute;
  left: 23px;
  top: 22px;
  color: #444444;
  font-size: 13px;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  font-weight: 600;
  pointer-events: none;
}

.txtInputActiveLabel {
  color: #00aeef;
  background: #fff;
  padding: 0 4px;
  font-size: 12px;
  top: 4px;
  left: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 0.3s ease;
  padding: 0 2px;
}

.txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
}

.input-wrap input:focus,
.bus-info-input-wrap input:focus,
.gps-input-wrap input:focus,
.otp-input-wrap input:focus {
  border: solid 2px #00aeef;
}

.egLabel {
  font-style: italic;
  color: #444444;
  font-size: 11px;
  left: 10px;
  position: absolute;
  bottom: -7px;
}

.txtMstBusNumberBox {
  width: 87px;
}

.input-seperator {
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #cccccc;
}
.txtMstBusNumber .egLabel {
  bottom: 5px;
}

/* Bus Info CSS */
.bus-info-container {
  padding: 20px 13% 20px 13%;
}

.bus-info-form {
  max-width: 1010px;
  margin: 0 auto;
  /* background: lightgoldenrodyellow; */
}

.bus-info-inputs {
  /* border: solid 1px red; */
}

.mstBusNoLabel {
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
  margin: 5px;
}

.bus-info-input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bus-info-input-wrap {
  width: 25%;
  display: flex;
  margin: 7px 5px 7px 5px;
  position: relative;
}

.bus-info-input-box {
  width: 48px;
}

.bus-info-input-wrap input {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.bus-info-input-wrap.busnum input {
  padding: 10px 2px 10px 2px;
}

.bgColor1 {
  background: #f2fafe;
}

.bus-info-select-box {
  padding: 1px 0px 1px 0px;
  border: solid 1px #a6a6a6;
  border-radius: 5px;
  position: relative;
}

.inputProprietor {
  width: 100%;
  height: 32px;
}

.txtCenter {
  text-align: center;
}

.inputProprietor .chosen-container-single .chosen-single {
  height: 28px;
  padding: 4px 0px 0px 8px;
}

.inputProprietor .chosen-container-single .chosen-single div b {
  top: 10px;
}

.inputProprietor
  .chosen-container-active
  .chosen-with-drop
  .chosen-single
  div
  b {
  top: 8px;
}

.inputProprietor .chosen-container-single .chosen-single span {
  font-size: 12px;
}

.bus-info-input-wrap .txtInputLabel {
  position: absolute;
  left: 10px;
  top: 9px;
  color: #444444;
  font-size: 12px;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  font-weight: 500;
  pointer-events: none;
}

.bus-info-input-wrap .txtInputActiveLabel {
  color: #00aeef;
  background: #fff;
  padding: 0 4px;
  font-size: 12px;
  top: -6px;
  left: 5px;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 0 2px;
}

.bus-info-input-wrap .txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
  font-size: 11px;
}

.bus-info-select-box .form-label {
  font-size: 11px;
}

.bus-info-select-box .labelFocus {
  font-size: 12px;
}

.bus-document-header {
  border: solid 1px #e5e5e5;
  padding: 12px 13% 12px 13%;
  background: #f2fafe;
  font-weight: 600;
}

.bus-document-body-wrap {
  max-width: 1010px;
  margin: 0 auto;
}

.bus-document-header-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bus-document-header-col {
  padding-left: 10px;
}

.bus-document-header-col1 {
  width: 25%;
}
.bus-document-header-col2 {
  width: 23%;
}
.bus-document-header-col3 {
  width: 23%;
}

.bus-document-header-col4 {
  width: 29%;
}

.bus-document-body {
  border: solid 1px #e5e5e5;
  padding: 12px 13% 12px 13%;
}

.bus-document-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.bus-document-col {
  padding-left: 5px;
}

.bus-document-col1 {
  width: 25%;
}

.bus-document-col2 {
  width: 23%;
}

.bus-document-col3 {
  width: 23%;
}

.bus-document-col4 {
  width: 29%;
}

.bus-doc-file-input-wrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bus-doc-file-input-wrap .div-text {
  width: calc(100% - 107px);
}

.bus-doc-file-input-wrap .div-btn {
  width: 80px;
}

.bus-doc-file-input-wrap .div-icon {
  width: 27px;
}

.bus-document-body input {
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  width: 99%;
  height: 35px;
  border: solid 1px #cccccc;

  font-weight: 500;
  letter-spacing: 0.03rem;
  font-size: 13px;
  position: relative;
  font-style: italic;
  color: #8e8e8e;
}

.doc-title {
  background: #f2fafe;
  padding: 6px 10px 6px 10px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 99%;
}

.doc-title.uploaded {
  color: #0086ff;
  font-weight: 600;
}

.bus-document-body label {
  position: relative;
}

.datepicker + label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/cal.svg) no-repeat;
  background-size: 100% 100%;
  left: -25px;
  top: -8px;
}

.customeBrowse {
  display: flex;
}

.bus-document-body .btnBrowse {
  border: solid 1px #ff5200;
  background: #ffffff;
  color: #ff5200;
  font-weight: 600;
  border-radius: 5px;
  width: 70px;
  margin-left: 7px;
  cursor: pointer;
  padding: 9px 10px 9px 10px;
}

.bus-document-body .fileBrowse {
  display: none;
}

.bus-document-body .btnUpload {
  background: #ff5200;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 10px 13px 10px;
  outline: none;
  border: none;
  width: 100%;
  font-weight: bold;
}

.bus-document-body .btnUpload:hover {
  opacity: 0.9;
}

.pdf-file {
  background: url(../images/pdf.png) no-repeat;
  width: 21px;
  height: 28px;
  margin: 4px 0px 3px 3px;
}

.bus-document-row .date {
  position: relative;
  display: table;
}

/* CSS for GPS tab start*/
.gps-container {
  padding: 20px 13% 20px 13%;
}

.gps-form {
  max-width: 1010px;
  margin: 0 auto;
  /* background: lightgoldenrodyellow; */
}

.gps-inputs {
  border: none;
}

.gps-input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gps-input-wrap {
  width: 25%;
  display: flex;
  margin: 7px 5px 7px 5px;
  position: relative;
}

.gps-input-box {
  width: 48px;
}

.gps-input-wrap input {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.gps-input-wrap.busnum input {
  padding: 10px 2px 10px 2px;
}

.btnEnableGPS {
  position: relative;
  padding: 0px 0px 0px 0px;
  font-weight: bold;

  background: #ffffff;
  border-radius: 15px;
  margin: 0px 7px 0 0;
  width: 187px;
  cursor: pointer;
  border: solid 1px #ff5200;
  font-size: 12px;
}

.btnInnerWraper {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 3px 0px;
  width: 100%;
}

.btnLeftWrap {
  width: 22%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.btnRightWrap {
  width: 78%;
  display: flex;
  align-items: center;
  color: #ff5200;
  letter-spacing: 0.5px;
}

.svg-setting {
  fill: #ff5200;
  width: 19px;
  height: 19px;
}

.btnDisableGPS {
  background: #f6f6f6;
  border: solid 1px #dfdfdf;
}

.btnDisableGPS .svg-setting {
  fill: #acacac;
}

.btnDisableGPS .btnRightWrap {
  color: #acacac;
}

.gps-status {
  justify-content: end;
  margin: 7px 5px 0px 5px;
}

.btnGPSWorking {
  position: relative;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  background: #1db24b;
  border-radius: 20px;
  margin: 0px;
  width: 150px;
  cursor: pointer;
  border: none;
  font-size: 13px;
}

.btnGPSWorkingWrap {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
  width: 100%;
  padding: 0px 0 0px 0;
}

.btnGPSWorkingIcon {
  width: 28%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.btnGPSWorkingText {
  width: 72%;
  display: flex;
  align-items: center;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-top: 2px;
}

.svgGpsWorking {
  fill: #ffffff;
  width: 23px;
  height: 23px;
}

/* GPS Not Working */
.btnGPSNotWorking {
  position: relative;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  background: #ff516a;
  border-radius: 20px;
  margin: 0px;
  width: 180px;
  cursor: pointer;
  border: none;
  font-size: 13px;
}

.btnGPSNotWorkingWrap {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
  width: 100%;
  padding: 0px 0 0px 0;
}

.btnGPSNotWorkingIcon {
  width: 26%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.btnGPSNotWorkingText {
  width: 74%;
  display: flex;
  align-items: center;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-top: 2px;
}

.svgGpsNotWorking {
  fill: #ffffff;
  width: 23px;
  height: 23px;
}

.tabGPS .custome_radio:checked + label:before {
  top: 0px;
}

.tabGPS .custome_radio:checked + label:after,
.tabGPS .custome_radio:not(:checked) + label:after {
  top: 5px;
}

.tabGPS .custome_radio:not(:checked) + label:before {
  top: 0px;
}

.rdo-gps-for {
  width: 100%;
  padding-left: 3px;
  margin-top: 15px;
  position: relative;
}

.gps-select-box {
  padding: 1px 0px 1px 0px;
  border: solid 1px #a6a6a6;
  border-radius: 5px;
  position: relative;
}

.selGPSVendor {
  width: 100%;
  height: 38px;
}

.for-associate-busno {
  width: 100%;
}

.gps-input-wrap.for-associate-busno input {
  height: 38px;
  border-radius: 5px;
}

.for-associate-busno .txtInputLabel {
  left: 15px;
  top: 11px;
}

.for-associate-busno .txtInputActiveLabel {
  top: -5px;
  left: 5px;
}

.for-associate-busno .chosen-container-single .chosen-single {
  padding: 7px 0px 0px 17px;
}

.for-associate-busno .chosen-container-single .chosen-drop {
  margin-top: -3px;
}

.gps-input-wrap .txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
  font-size: 11px;
}

.gps-select-box .form-label {
  font-size: 11px;
}

.lblHeading {
  font-weight: 600;
  color: #000000;
  margin: 7px 5px 5px 5px;
}

.rdo-mnt-comm-type {
  width: 100%;
  padding-left: 3px;
}

.gps-input-wrap .fees-amt {
  width: 60px;
  position: relative;
  top: -5px;
  left: -10px;
  padding: 10px 5px 10px 5px;
  font-weight: 500;
}

.btnSaveGPS {
  position: absolute;
  padding: 12px 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background: #ff5200;
  border: none;
  border-radius: 5px;
  margin: 0;
  width: 188px;
  cursor: pointer;
  top: -11px;
  right: 350px;
}

.btnSaveGPS:hover {
  opacity: 0.9;
}

.gps-result {
  border: solid 1px #f3f3f3;
  width: 100%;
  box-shadow: 0px 2px 5px #ccc;
  border-radius: 5px 5px 0px 0px;
  margin: 7px 5px 7px 5px;
}

.gps-result-header {
  background: #e5f3ff;
  height: 35px;
}

.gps-result-header .gps-result-data-col {
  padding: 12px 8px 12px 8px;
}

.gps-result-data-row {
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.gps-result-data-col {
  padding: 9px 8px 7px 8px;
}

.gps-result-data-col.col1 {
  width: 25%;
}

.gps-result-data-col.col2 {
  width: 25%;
}

.gps-result-data-col.col3 {
  width: 25%;
}

.gps-result-data-col.col4 {
  width: 25%;
}

.gps-brd-right {
  border-right: solid 1px #d9d9d9;
}

.gps-result-body .gps-result-data-row {
  color: #575757;
}

.gps-result-body .gps-result-data-row:nth-child(odd) {
  background: #ffffff;
}

.gps-result-body .gps-result-data-row:nth-child(even) {
  background: #f7fbff;
}

.for-associate-busno .chosen-container-single .chosen-single {
  padding: 7px 0px 0px 17px;
}

.for-associate-busno .chosen-container-single .chosen-drop {
  margin-top: -3px;
}

.for-new-data {
  width: 50%;
}

.gps-input-wrap.for-new-data input {
  height: 38px;
  border-radius: 5px;
}

.for-new-data .txtInputLabel {
  left: 15px;
  top: 11px;
}

.for-new-data .txtInputActiveLabel {
  top: -5px;
  left: 5px;
}

.for-new-data .chosen-container-single .chosen-single {
  padding: 7px 0px 0px 17px;
}

.for-new-data .chosen-container-single .chosen-drop {
  margin-top: -3px;
}

.gps-input-wrap.vendor-block {
  width: 100%;
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 35px;
}

.vendor-data {
  width: 100%;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0px 2px 5px #ccc;
}
.vendor-data-header {
  height: 34px;
}

.vendor-data-header .vendor-data-col {
  padding: 11px 8px 11px 8px;
}

.vendor-data-row {
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}

.vendor-data-col {
  padding: 9px 8px 7px 8px;
}

.vendor-data-col.col1 {
  width: 10%;
  display: flex;
  align-items: center;
}

.vendor-data-col.col2 {
  width: 20%;
  display: flex;
  align-items: center;
}

.vendor-data-col.col3 {
  width: 70%;
  display: flex;
  align-items: center;
}

.vendor-data-list .vendor-data-row:nth-child(even) {
  background: #ffffff;
}

.vendor-data-list .vendor-data-row:nth-child(odd) {
  background: #f7fbff;
}

.vendor-data input {
  padding: 5px 10px 5px 10px;
  height: 30px;
}

/* associate vendor data */

.associate-vendor-data {
  width: 100%;
  border-radius: 5px;
  padding: 0px;
  box-shadow: 0px 2px 5px #ccc;
}

.associate-vendor-data-list {
  overflow: auto;
  width: 987px;
  height: 150px;
}

.associate-vendor-data-row {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  color: #444444;
  width: 1130px;
}

.associate-vendor-data-col {
  padding: 9px 8px 7px 8px;
  display: flex;
  align-items: center;
}

.associate-vendor-data-col.col1 {
  width: 160px;
}

.associate-vendor-data-col.col2 {
  width: 220px;
}

.associate-vendor-data-col.col3 {
  width: 150px;
}

.associate-vendor-data .custome_radio:checked + label,
.associate-vendor-data .custome_radio:not(:checked) + label {
  color: #444444;
  padding-left: 25px;
}

.associate-vendor-data-list .associate-vendor-data-row:nth-child(odd) {
  background: #ffffff;
}

.associate-vendor-data-list .associate-vendor-data-row:nth-child(even) {
  background: #f7fbff;
}

/* width */
.associate-vendor-data ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.associate-vendor-data ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.associate-vendor-data ::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
.associate-vendor-data ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* information popup css */
.information-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.information-popup-content {
  position: fixed;
  width: 400px;
  height: 140px;
  z-index: 1001;
  top: 200px;
  /* left: calc(25%); */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
}

.information-popup-header {
  background: #0086ff;
  width: 100%;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.information-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.information-popup-body {
  background: #ffffff;
  width: 100%;
  padding: 10px;
}

.information-popup-body .message {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
}

.information-popup-body .buttons {
  padding-top: 10px;
  display: flex;
  justify-content: end;
}

.information-popup-body .buttons .btnContinue {
  background: #ffffff;
  margin-right: 10px;
  padding: 8px 10px;
  border: solid 1px #ff5200;
  border-radius: 5px;
  color: #ff5200;
  font-weight: 600;
  letter-spacing: 1px;
}

.information-popup-body .buttons .btnContinue:hover {
  box-shadow: 3px 3px 5px #cccccc;
}

.information-popup-body .buttons .btnCancel {
  background: #ff5200;
  margin-right: 10px;
  padding: 8px 17px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
}

.information-popup-body .buttons .btnCancel:hover {
  box-shadow: 3px 3px 5px #cccccc;
}

/* otp popup css */
.otp-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.otp-popup-content {
  position: fixed;
  width: 325px;
  height: 220px;
  z-index: 1001;
  top: 200px;
  /* left: calc(25%); */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
}

.otp-popup-header {
  background: #0086ff;
  width: 100%;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.otp-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.otp-popup-body {
  background: #ffffff;
  width: 100%;
  padding: 10px;
}

.otp-input-wrap {
  width: 100%;
  margin: 7px 0px 7px 0px;
  position: relative;
  display: flex;
  justify-content: center;
}

.otp-input-wrap input {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  width: 100%;
  height: 37px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.otp-popup-body .txtInputLabel {
  left: 15px;
  top: 10px;
}

.otp-popup-body .txtInputActiveLabel {
  color: #00aeef;
  background: #fff;
  padding: 0 4px;
  font-size: 12px;
  top: -6px;
  left: 5px;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 0 2px;
}

.otp-popup-body .txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
  font-size: 11px;
}

.otp-label {
  color: #666666;
  font-weight: 500;
  font-size: 12px;
}

.btnSubmitOtp {
  background: #ff5200;
  padding: 10px 17px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}

.btnSubmitOtp:hover {
  opacity: 0.9;
}

.resend-otp {
  margin-top: 16px;
  margin-bottom: 0;
}

.otp-resend {
  color: #0086ff;
  cursor: pointer;
  text-decoration: underline;
}

/* Bus Amenities CSS */
.bus-amenities-container {
  padding: 20px 13% 20px 13%;
}

.bus-amenities-form {
  max-width: 850px;
  margin: 0 auto;
  /* background: lightgoldenrodyellow; */
}
.bus-amenities-inputs {
  border: none;
}

.bus-ame-input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bus-ame-input-wrap {
  width: 25%;
  display: flex;
  margin: 7px 5px 7px 5px;
  position: relative;
}

.bus-ame-input-box {
  width: 48px;
}

.bus-ame-input-wrap input {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.bus-ame-input-wrap.busnum {
  width: 100%;
}

.bus-ame-input-wrap.busnum input {
  padding: 10px 2px 10px 2px;
}

.tab-ame-type-wrap {
  border-bottom: solid 1px #e5e5e5;
  width: 100%;
  padding-bottom: 6px;
}

.general-ame-list-wrap {
  border-bottom: solid 1px #e5e5e5;
  width: 100%;
  padding-bottom: 15px;
}

.covid-ame-list-wrap {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: none;
}

.ame-in-bus-wrap {
  width: 100%;
}

.tabAmeType {
  background: #ffffff;
  text-transform: uppercase;
  color: #000000;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.tabAmeType.active-ame-type {
  background: #0086ff;
  color: #ffffff;
}

.tabAmeType input {
  padding: 0px;
  width: auto;
  height: auto;
  visibility: hidden;
  margin: 0;
  position: absolute;
  top: 12px;
  left: 25px;
}

.brdBtm {
  border-bottom: solid 1px #e5e5e5;
  width: 100%;
  padding-bottom: 6px;
}

.amenities-list-wrap {
  width: 100%;
}
.amenities-item {
  width: 210px;
  margin-bottom: 7px;
  float: left;
}

.amenities-item-wrap {
  display: flex;
  width: 100%;
  align-items: center;
}

.amenities-item-left-wrap {
  width: 12%;
}

.amenities-item-right-wrap {
  width: 98%;
}

.amenities-item .amenities-checkbox {
  height: 17px;
  width: 17px;
}

.amenities-title {
  background: #f2fafe;
  width: 90%;
  padding: 8px 10px;
  border-radius: 5px;
  color: #202020;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  line-height: 1.428;
}

.bus-ame-input-row .covid-ame {
  margin-bottom: 0;
}

.covid-ame-heading {
  color: #080808;
  margin-bottom: 0;
}

.ex-mark {
  background: url(../images/info.svg) 100% no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 15px;
  display: inline-block;
  cursor: pointer;
}

.tooltip-inner {
  max-width: 500px;
  padding: 10px;
}

.inbus-ame-item {
  width: 280px;
  margin-bottom: 7px;
  float: left;
}

.inbus-ame-item-wrap {
  display: flex;
  width: 100%;
  align-items: center;
}

.inbus-ame-item-left-wrap {
  width: 9%;
}

.inbus-ame-item-center-wrap {
  width: 61%;
}

.inbus-ame-item-right-wrap {
  width: 40%;
  padding-right: 8px;
}

.inbus-ame-item .amenities-checkbox {
  height: 17px;
  width: 17px;
}

.inbus-ame-item .amenities-title {
  background: #f2fafe;
  width: 95%;
  padding: 8px 10px;
  border-radius: 5px;
  color: #202020;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.inbus-ame-bus-type-select {
  padding: 1px 0px 1px 0px;
  border: solid 1px #a6a6a6;
  border-radius: 5px;
  position: relative;
  width: 88px;
}

.inbus-ame-type .chosen-container-single .chosen-single {
  height: 27px;
  padding: 2px 0px 0px 9px;
}

.inbus-ame-type .chosen-container-single .chosen-single span {
  font-weight: 500;
  font-size: 12px;
}

.inbus-ame-type .chosen-container-single .chosen-single div b {
  top: 10px;
  right: 5px;
}

.inbus-ame-type .chosen-container-active.chosen-with-drop .chosen-single div b {
  top: 10px;
}

.inbus-ame-type .chosen-container-single .chosen-drop {
  padding: 3px;
  margin-top: 2px;
}

/* Bus Pictures CSS */
.bus-pictures-container {
  padding: 20px 13% 20px 13%;
}

.bus-pictures-form {
  max-width: 1000px;
  margin: 0 auto;
  /* background: lightgoldenrodyellow; */
  height: 300px;
}

.bus-pictures-inputs {
  border: none;
}

.bus-number-input-row {
  width: 100%;
  display: flex;
}

.bus-number-input-wrap {
  width: 50%;
  display: flex;
  margin: 7px 5px 7px 5px;
  position: relative;
}

.bus-pictures-notes {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 15px;
  color: #666666;
  font-size: 12px;
  font-weight: 600;
}

.bus-pictures-notes .ex-mark {
  width: 30px;
  height: 20px;
}

.bus-number-input-box {
  width: 73px;
}

.bus-number-input-wrap input {
  padding: 10px 2px 10px 2px;
  border-radius: 5px;
  width: 100%;
  height: 37px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.bus-pictures-wrapper {
  margin: 7px 5px 7px 5px;
}

.bus-pictures-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.bus-picture-block {
  width: 24%;
}

.image-box {
  border: dashed 1px #0086ff;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background: #f7f9fa;
}

.heading {
  font-size: 12px;
  color: #202020;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 15px;
}

.add-image {
  padding: 30px 0px 10px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-icon {
  background: url(../images/add-image.svg) no-repeat;
  background-size: 100% 100%;
  width: 70px;
  height: 70px;
}

.browse-box {
  padding: 10px;
  width: 100%;
  height: 32px;
}

.browse-link {
  color: #0086ff;
  text-decoration: underline;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.progress-bar-box {
  padding: 5px 0px 5px 5px;
  width: 100%;
  display: flex;
}

.probar {
  width: 90%;
  border-radius: 10px 10px 10px 10px;
  border: solid 1px #e7e8e9;
  background: #ffffff;
  height: 15px;
}

.probar-loading {
  width: 0%;
  background: #0086ff;
  border-radius: 10px 10px 10px 10px;
  height: 14px;
  transition: all 2s;
}

.close-icon {
  width: 10%;
  background: url(../images/close.svg) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  margin-left: 5px;
  height: 12px;
  margin-top: 2px;
}

.uploaded-img {
  position: relative;
}

.uploaded-img img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.action-wrapper {
  position: absolute;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: end;
  padding-top: 5px;
  padding-right: 8px;
}

.action-wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50px;
}

.action-wrapper ul li {
  background: #516174;
  border-radius: 14px;
  width: 20px;
  height: 20px;
  position: relative;
}

.del-icon {
  background: url(../images/delete.svg) 100% no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 11px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 5px;
}

.edit-icon {
  background: url(../images/edit.svg) 100% no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 1px;
}

/* bus picture upload error popup css */
.bus-picture-error-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.bus-picture-error-popup-content {
  position: fixed;
  width: 373px;
  height: 190px;
  z-index: 1001;
  top: 200px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
}

.bus-picture-error-popup-header {
  background: #0086ff;
  width: 100%;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 9px 9px 0px 0px;
}

.bus-picture-error-popup-body {
  background: #ffffff;
  width: 100%;
  padding: 10px 24px 0px 24px;
}

.bus-picture-error-popup-content .error-msg {
  color: #ff5200;
  line-height: 22px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

.btnUpload {
  background: #ff5200;
  padding: 12px 12px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px;
}

.btnUpload:hover {
  opacity: 0.9;
}

.bus-picture-error-popup-content .note-msg {
  font-size: 11px;
  font-style: italic;
  margin-top: 15px;
  letter-spacing: 0.2px;
}

.bus-pictures-form .fileBrowse {
  display: none;
}

.input-wrap .heading-wrap {
  display: flex;
  width: 100%;
}

.input-wrap .heading-wrap .left {
  width: 50%;
  font-weight: 600;
  padding-left: 5px;
}

.input-wrap .heading-wrap .right {
  width: 50%;
  font-weight: 600;
  padding-left: 5px;
}

.input-wrap-25 {
  width: 24%;
  display: flex;
  margin: 7px 0px;
  position: relative;
}

.input-wrap-25 input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  height: 42px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.input-wrap-25 .txtInputLabel {
  position: absolute;
  left: 14px;
  top: 14px;
  color: #444444;
  font-size: 12px;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  font-weight: 500;
  pointer-events: none;
}

.input-wrap-25 .txtInputActiveLabel {
  color: #00aeef;
  background: #fff;
  padding: 0 4px;
  font-size: 12px;
  top: -5px;
  left: 8px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 0.3s ease;
  padding: 0 2px;
}

.input-wrap-25 .txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
}

/* css for vehicle tab */

.vehicleListContainer {
  padding: 15px 80px 20px 80px;
  height: 565px;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #f5faff;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 15px 10px;
  border-bottom: 1px solid #dcdcdc;
  font-weight: 600;
  font-size: 13px;
  border-right: solid 1px #dcdcdc;
  color: #000000;
}

table.dataTable thead th:last-child {
  border-right: solid 1px transparent;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 15px 10px;
  font-weight: 600;
  font-size: 13px;
  color: #717171;
}

table.dataTable.display tbody td {
  border-right: 1px solid #dcdcdc;
}

table.dataTable.display tbody td {
  border-top: 1px solid transparent;
}

table.dataTable thead .sorting {
  background-image: none;
}

table.dataTable thead .sorting_asc {
  background-image: none !important;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.display tbody tr.odd > .sorting_2 {
  background-color: #f5faff;
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.display tbody tr.even > .sorting_2 {
  background-color: #ffffff;
}

table.dataTable.display tbody tr.odd:hover {
  background-color: #f5faff;
}

table.dataTable.display tbody tr.even:hover {
  background-color: #ffffff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  position: relative;
  padding: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  border: solid 1px transparent;
}

.dataTables_wrapper .dataTables_paginate {
  position: absolute;
  right: 84px;
  padding: 7px 10px;
}

.dataTables_wrapper .dataTables_info {
  position: absolute;
  right: 218px;
  padding: 15px 10px 14px 10px;
  font-size: 13px;
  font-weight: 600;
}

.dataTables_wrapper .dataTables_filter {
  position: absolute;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dataTables_wrapper .dataTables_filter label {
  margin-bottom: 0;
  position: relative;
}

.dataTables_wrapper .dataTables_filter label::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../chosen/search.svg) no-repeat 100%;
  left: 12px;
  top: 12px;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 10px 10px 30px;
  background-color: transparent;
  margin-left: 3px;
  height: 38px;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.dataTables_wrapper .dataTables_filter .vehicle-status-filter {
  width: 190px;
  text-align: left;
}

.dataTables_wrapper .dataTables_filter .vehicle-status-filter .form-label {
  position: absolute;
}

.dataTables_wrapper
  .dataTables_filter
  .vehicle-status-filter
  .form-label::before {
  content: none;
}

.dataTables_wrapper
  .dataTables_filter
  .vehicle-status-filter
  .chosen-container-single
  .chosen-single {
  height: 34px;
  padding: 6px 0px 0px 17px;
}

.dataTables_wrapper .dataTables_scroll {
  top: 55px;
  position: relative;
  box-shadow: 3px 3px 3px #e5e5e5, -3px -1px 3px #e5e5ef;
  border-radius: 10px;
}

.dataTables_wrapper .edit_link {
  text-decoration: none;
  color: #0086ff;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  padding-left: 18px;
  white-space: nowrap;
}

.dataTables_wrapper .edit_icon {
  position: absolute;
  background: url(../images/edit_blue.svg) no-repeat;
  height: 13px;
  width: 13px;
  top: 0px;
  left: 0px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid transparent;
}

.dataTables_filter input:focus {
  border: 2px solid #00aeef;
}

.first_page_icon {
  position: absolute;
  background: url(../images/first.svg) no-repeat;
  height: 12px;
  width: 12px;
  top: 6px;
  left: 6px;
}

.prev_page_icon {
  position: absolute;
  background: url(../images/prev.svg) no-repeat;
  height: 12px;
  width: 12px;
  top: 6px;
  left: 6px;
}

.next_page_icon {
  position: absolute;
  background: url(../images/next.svg) no-repeat;
  height: 12px;
  width: 12px;
  top: 6px;
  left: 6px;
}

.last_page_icon {
  position: absolute;
  background: url(../images/last.svg) no-repeat;
  height: 12px;
  width: 12px;
  top: 6px;
  left: 6px;
}

.paginate_button.disabled .first_page_icon {
  background: url(../images/first_disable.svg) no-repeat;
}

.paginate_button.disabled .prev_page_icon {
  background: url(../images/prev_disable.svg) no-repeat;
}

.paginate_button.disabled .next_page_icon {
  background: url(../images/next_disable.svg) no-repeat;
}

.paginate_button.disabled .last_page_icon {
  background: url(../images/last_disable.svg) no-repeat;
}

.dom_wrapper {
  position: relative;
  width: 100%;
}

.dom_wrapper .dataTables_length {
  display: none;
}

/* width */
.dataTables_scroll ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.dataTables_scroll ::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.dataTables_scroll ::-webkit-scrollbar-thumb {
  background: #bfbfbf;
}

/* Handle on hover */
.dataTables_scroll ::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.button_new {
  position: absolute;
  right: 0;
  padding: 2px 0;
}

.btnNew {
  border: solid 1px #ff5200;
  background: #ffffff;
  color: #ff5200;
  font-weight: 600;
  border-radius: 5px;
  width: 75px;
  margin-left: 7px;
  cursor: pointer;
  padding: 12px 10px 12px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btnNew:hover {
  background: #ff5200;
  color: #ffffff;
}

.custome_filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.vline {
  height: 36px;
  border-left: 1px solid #dcdcdc;
  margin: 0 13px 0px 16px;
}

#vehicle_list_filter .chosen-container-single .chosen-search {
  display: none;
}

.vehicleGpsListContainer {
  padding: 15px 270px 20px 270px;
  height: 565px;
}

.vehicleGpsListContainer .dataTables_wrapper .dataTables_paginate {
  right: 0px;
}

.vehicleGpsListContainer .dataTables_wrapper .dataTables_info {
  right: 135px;
}

/* for mobile */
@media (max-width: 768px) {
  .tabVehicleList {
    background: aqua;
  }

  .tabVehicleList .dataTables_wrapper .dataTables_filter {
    justify-content: center;
    left: 0;
    right: 0;
  }

  .tabVehicleList .dataTables_wrapper .dataTables_info {
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .tabVehicleList .dataTables_wrapper .dataTables_paginate {
    top: 44px;
    left: 0px;
    right: 0px;
  }

  .tabVehicleList .button_new {
    top: 50px;
  }

  .tabVehicleList .dataTables_wrapper .dataTables_scroll {
    top: 97px;
  }

  .vehicleGpsListContainer {
    padding: 15px 80px 20px 80px;
  }

  .vehicleGpsListContainer .dataTables_wrapper .dataTables_paginate {
    right: 0px;
    margin-top: 0;
  }
}

/* for tablet */
@media (min-width: 768px) {
  .vehicleGpsListContainer {
    padding: 15px 80px 20px 80px;
  }
}

/* for laptop */
@media (min-width: 992px) {
  .vehicleGpsListContainer {
    padding: 15px 200px 20px 200px;
  }
}

/* for desktop */
@media (min-width: 1200px) {
  .vehicleGpsListContainer {
    padding: 15px 270px 20px 270px;
  }
}

/* CSS new/modified for new design */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.tabs-list {
  display: flex;
  margin: 0px;
}

.tab {
  list-style: none;
  padding: 18px 12px 14px 12px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.8px;
  cursor: pointer;
  font-size: 14px;
}

.completed {
  position: relative;
  padding-right: 20px;
  top: 1px;
  left: 0px;
}

.completed::before {
  content: "";
  position: absolute;
  background: url(../images/right.svg) no-repeat;
  width: 15px;
  height: 15px;
}

.tabBusMaster {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
}

.input-wrap {
  padding: 10px 0px;
  position: relative;
}

.vmBlock1 {
  width: 33.33%;
  padding: 24px 10px 8px 20px;
}

.generalInfo {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #202020;
}

.vmBlock1 .form-inputs-wrap {
  height: 632px;
  /* overflow: auto; */
  padding-right: 8px;
  padding-left: 4px;
}

.vmBlock2 .form-inputs-wrap {
  height: 625px;
  /* overflow: auto; */
}

.vmBlock2 .chosen-container-single .chosen-drop {
  padding: 0px;
  border: 1px solid #0086ff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.vmBlock2 .chosen-container .chosen-results {
  padding: 0px;
  max-height: 400px;
}

.vmBlock2 .chosen-container .chosen-results li.active-result {
  border-bottom: solid 1px #cccccc;
  height: 42px;
}

.vmBlock3 .form-inputs-wrap {
  height: 624px;
  /* overflow: auto; */
}

.inputNotes {
  position: absolute;
  bottom: -18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #666666;
}

.axleConfiguration {
  min-height: 350px;
}

.tabBusMaster .buttonSave {
  background: #ff5200;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 16px 12px 16px;
  outline: none;
  border: none;
  width: 100%;
  height: 48px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.tabBusMaster .buttonSave:hover {
  opacity: 0.9;
}

.tabBusMaster .buttonSave.buttonSaveDisable {
  color: #888888;
  background: #cccccc;
  cursor: not-allowed;
}

.tabBusMaster .buttonSave.buttonSaveDisable:hover {
  opacity: 1;
}

/* width */
.form-inputs-wrap::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

/* Track */
.form-inputs-wrap::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle */
.form-inputs-wrap::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

/* Handle on hover */
.form-inputs-wrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cargoCommRow {
  display: none;
}

.vmBlock2 {
  width: 33.33%;
  padding: 12px 25px 8px 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.vmBlock2 .tabs-list {
  height: 40px;
}

.vmBlock2 .tab {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.3);
  padding: 12px 0px 12px 0px;
  margin-right: 24px;
}

.vmBlock2 .active-tab {
  border-bottom: 3px solid #0086ff;
  color: #0086ff;
}

.chose-image-list {
  width: 40px;
  margin-right: 8px;
}

.chose-image-small {
  width: 40px;
  margin-right: 8px;
}

.input-wrap.usageType {
  padding: 14px 0px;
}

.labelTruckType {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #444444;
}

.truckTypeWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 7px;
}

.truckTypeBox {
  border: 1px solid #b6b6b6;
  width: 123px;
  height: 84px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #ccc;
  padding: 16px 16px;
  cursor: pointer;
}

.truckTypeIcon {
  text-align: center;
}

.truckTypeLabel {
  text-align: center;
  margin-top: 7px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.truckTypeRadio {
  opacity: 0;
}

.activeTruckType {
  border: solid 2px #00aeef;
  color: #00aeef;
  font-weight: 600;
}

.activeTruckType svg {
  fill: #0086ff;
}

.labelRearBodyType {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #444444;
}

.rearBodyTypeWrap {
  width: 100%;
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
}

.rearBodyTypeWrap div:nth-child(1) {
  border-radius: 6px 0px 0px 0px;

  border-width: 1px 0px 0px 1px;
}

.rearBodyTypeWrap div:nth-child(2) {
  border-radius: 0px 6px 0px 0px;
  border-width: 1px 1px 0px 1px;
}

.rearBodyTypeWrap div:nth-child(3) {
  border-radius: 0px 0px 0px 6px;
  border-width: 1px 0px 1px 1px;
  box-shadow: 0px 1px 2px #ccc;
}

.rearBodyTypeWrap div:nth-child(4) {
  border-radius: 0px 0px 6px 0px;
  border-width: 1px 1px 1px 1px;
  box-shadow: 0px 1px 2px #ccc;
}

.rearBodyTypeBox {
  width: 50%;
  height: 50px;
  padding: 18px 0 18px 12px;
  cursor: pointer;
  border: 1px solid #b6b6b6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.rearBodyTypeIcon {
  text-align: center;
}

.rearBodyTypeLabel {
  margin-left: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.rearBodyTypeRadio {
  opacity: 0;
  position: absolute;
  width: 10px !important;
}

.activeRearBodyType {
  border: solid 0px #00aeef;
  color: #00aeef;
  font-weight: 600;
  border-width: 1px !important;
}

.activeRearBodyType svg {
  fill: #0086ff;
}

.vmBlock3 {
  width: 33.33%;
  padding: 12px 25px 8px 24px;
}

.vmBlock3 .tabs-list {
  height: 40px;
}

.vmBlock3 .tab {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.3);
  padding: 12px 0px 12px 0px;
  margin-right: 24px;
}

.vmBlock3 .active-tab {
  border-bottom: 3px solid #0086ff;
  color: #0086ff;
}

.labelWeightInfo {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #444444;
  padding-top: 6px;
}

.labelCargoDim {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #444444;
  padding-top: 10px;
}

.labelTyreCode {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #444444;
  padding-top: 10px;
}

.labelAxleConfig {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #444444;
}

.btnConfig {
  background: #e5f3ff;
  border: 1px solid #0086ff;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #0086ff;
  padding: 12px;
}

.genInfo {
  padding: 0;
}

.selBusNoType {
  padding: 16px 0 19px 0;
}

.selMstBusNoType {
  padding: 16px 0 19px 0;
}

.labelBusUsage {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #444444;
}

.busUsageBox {
  border: 1px solid #b6b6b6;
  width: 123px;
  height: 74px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #ccc;
  padding: 16px 0;
  cursor: pointer;
}

.seatChartBox {
  width: 100%;
  height: 625px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cecece;
  font-size: 13px;
  padding-top: 9px;
}
.txtMstBusNumber {
  display: flex;
  padding: 0px 0px 20px 0px;
}

/* error popup box */

.error-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.error-popup-content {
  position: fixed;
  width: 300px;
  height: 230px;
  z-index: 1001;
  top: 200px;
  background: #fff2e2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 34px 13px;
}

.error-icon {
  padding: 0px 16px 16px 16px;
  text-align: center;
}

.error-message {
  padding: 0px 20px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #f05924;
}

.error-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-popup-wrapper .btnOk {
  padding: 12px 12px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  height: 48px;
  background: #ff5200;
  border-radius: 6px;
}

.error-popup-wrapper .btnOk:hover {
  opacity: 0.9;
}

/* success popup box */
.success-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.success-popup-content {
  position: fixed;
  width: 300px;
  height: 210px;
  z-index: 1001;
  top: 200px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 34px 13px;
  background: #e0efd8;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.success-icon {
  padding: 0px 16px 19px 16px;
  text-align: center;
}

.success-message {
  padding: 0px 20px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #3c763c;
}

.success-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-popup-wrapper .btnOk {
  padding: 12px 12px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  height: 48px;
  background: #ff5200;
  border-radius: 6px;
}

.success-popup-wrapper .btnOk:hover {
  opacity: 0.9;
}

.tabDisabled {
  opacity: 0.3;
  pointer-events: none;
}

.tableAxle {
  width: 100%;
}

.tableAxle th,
.tableAxle td {
  text-align: center;
  vertical-align: middle;
}

.axleColTyre {
  background-image: url(/images/tyrebox.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 31px;
  height: 56px;
}

.axleColAxle {
  background-image: url(/images/axle.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 20px;
}

.axleLR {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #444444;
}

.axleType {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: left !important;
  letter-spacing: 0.02em;
  color: #444444;
}

.axleNo {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #444444;
}

.dashLine {
  opacity: 0.3;
  border-bottom: 1px dashed #000000;
  width: 100%;
  height: 1px;
  margin: 7px 0;
}

.tyreAndAxleWrap {
  height: 310px;
  overflow: auto;
  padding-right: 5px;
}

/* width */
.tyreAndAxleWrap::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 15px;
}

/* Track */
.tyreAndAxleWrap::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
}

/* Handle */
.tyreAndAxleWrap::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.3);
  border-radius: 15px;
}

/* Handle on hover */
.tyreAndAxleWrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tyreSpareWrap {
  position: relative;
  display: flex;
  border-top: 1px dashed rgb(0, 0, 0, 0.3);
  padding: 8px 0;
  width: 400px;
  overflow: auto;
}

/* width */
.tyreSpareWrap::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 15px;
}

/* Track */
.tyreSpareWrap::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
}

/* Handle */
.tyreSpareWrap::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.3);
  border-radius: 15px;
}

/* Handle on hover */
.tyreSpareWrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spareHeading {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: left !important;
  letter-spacing: 0.02em;
  color: #444444;
  padding-right: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spareTyreWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spareTyre {
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}

.spareTyre input {
  position: absolute;
  opacity: 0;
}

.spareTyre input[id^="chkSpareTyre_"] + label {
  background: url("/images/tyrebox.svg") no-repeat 100% 100%;
  width: 30px;
  height: 56px;
  cursor: pointer;
  margin: 0;
}

.spareTyre input[id^="chkSpareTyre_"]:checked + label {
  background: url("/images/tyre.svg") no-repeat 100% 100%;
  width: 30px;
  height: 56px;
  cursor: pointer;
  margin: 0;
}

.addSpare {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.addSpare img {
  cursor: pointer;
}

.frontAxleTyre {
  position: relative;
}

.frontAxleTyre input {
  position: absolute;
  opacity: 0;
}

.tyreAndAxleWrap input[id^="chkFrontAxleTyre_"] + label {
  background: url("/images/tyrebox.svg") no-repeat 100% 100%;
  width: 30px;
  height: 56px;
  cursor: pointer;
  margin: 0;
}

.tyreAndAxleWrap input[id^="chkFrontAxleTyre_"]:checked + label {
  background: url("/images/tyre.svg") no-repeat 100% 100%;
  width: 30px;
  height: 56px;
  cursor: pointer;
  margin: 0;
}

.rearAxleTyre {
  position: relative;
}

.rearAxleTyre input {
  position: absolute;
  opacity: 0;
}

.tyreAndAxleWrap input[id^="chkRearAxleTyre_"] + label {
  background: url("/images/tyrebox.svg") no-repeat 100% 100%;
  width: 30px;
  height: 56px;
  cursor: pointer;
  margin: 0;
}

.tyreAndAxleWrap input[id^="chkRearAxleTyre_"]:checked + label {
  background: url("/images/tyre.svg") no-repeat 100% 100%;
  width: 30px;
  height: 56px;
  cursor: pointer;
  margin: 0;
}

.inputCoach .chosen-container .chosen-drop,
.inputBusType .chosen-container .chosen-drop {
  bottom: 100%;
  top: unset;
}

.input-wrap-busno-left {
  width: 54%;
}

.input-wrap-busno-center {
  width: 21%;
  display: flex;
  justify-content: center;
}

.input-wrap-busno-right {
  width: 25%;
}

.btnEdit {
  border: solid 1px #0086ff;
  background: #ffffff;
  color: #0086ff;
  font-weight: 600;
  border-radius: 5px;
  width: 75px;
  cursor: pointer;
  padding: 12px 10px 12px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btnEdit:hover {
  background: #0086ff;
  color: #ffffff;
}

.inputEditBusNumber {
  display: none;
}

.input-wrap .inputEditBusNumber input {
  padding: 15px 7px 15px 15px;
  border-radius: 5px;
  width: 100%;
  height: 42px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.inputEditBusNumber .txtInputLabel {
  position: absolute;
  left: 15px;
  top: 25px;
  color: #444444;
  font-size: 13px;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  font-weight: 600;
  pointer-events: none;
}

.inputEditBusNumber .txtInputActiveLabel {
  color: #00aeef;
  background: #fff;
  padding: 0 4px;
  font-size: 12px;
  top: 4px;
  left: 5px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 0.3s ease;
  padding: 0 2px;
}

.inputEditBusNumber .txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
}
