* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  background: #ffffff;
  letter-spacing: 0.03rem;
  line-height: 1;
}

textarea {
  resize: none;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.hide {
  display: none;
}

.header {
  background: #0086ff;
  width: 100%;
  height: 52px;
  border-bottom: solid 6px #0086ff;
  box-shadow: 0px 3px 5px #aaa;
}

.header-wrap {
  width: 100%;
  display: flex;
}

.header-wrap-left {
  width: 90%;
}

.header-wrap-left .tabs-list {
  display: flex;
  margin: 0px;
}

.header-wrap-left .tab {
  list-style: none;
  padding: 18px 12px 14px 12px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.8px;
  cursor: pointer;
  font-size: 14px;
}

.header-wrap-left .completed {
  position: relative;
  padding-right: 20px;
  top: 1px;
  left: 0px;
}

.header-wrap-left .completed::before {
  content: "";
  position: absolute;
  background: url(../images/right.svg) no-repeat;
  width: 15px;
  height: 15px;
}

.active-tab {
  border-bottom: solid 6px #ffffff;
}

.header-wrap-right {
  width: 10%;
}

.btnSave {
  position: relative;
  padding: 11px 5px 11px 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background: #ff5200;
  border: none;
  border-radius: 5px;
  margin: 8px;
  width: 100px;
  cursor: pointer;
}

.btnSave::before {
  content: "";
  position: absolute;
  background: url(../images/save.svg) no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 6px;
}

.btnSave:hover {
  opacity: 0.9;
}

.page-container {
  width: 100%;
}

.tabs-content {
  width: 100%;
}

/* Custome Radio Button CSS Start*/

.custome_radio {
  margin: 0;
}

.custome_radio:checked,
.custome_radio:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custome_radio:checked + label,
.custome_radio:not(:checked) + label {
  position: relative;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 0px;
  cursor: pointer;
  line-height: 20px;
  letter-spacing: 0.03rem;
  font-weight: bold;
  color: #202020;
  display: inline;
  margin-bottom: 0;
}

.custome_radio:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: 16px;
  height: 16px;
  border: 2px solid #757575;
  border-radius: 100%;
  background: transparent;
}

.custome_radio:checked + label:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: 16px;
  height: 16px;
  border: 2px solid #00aeef;
  border-radius: 100%;
  background: #fff;
}

.custome_radio:checked + label:after,
.custome_radio:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #00aeef;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%;
}

.custome_radio:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custome_radio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custome_radio + label:after,
.custome_radio + label:before {
  box-sizing: unset;
}

.active_custome_radio {
  background: #3a587a;
}
/* Custome Radio Button CSS End*/

/* Bus Master Form CSS */
.tabBusMaster {
  padding: 20px 18% 20px 18%;
}

.bus-master-form {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
}

.form-wrap-left {
  width: 50%;
}

.form-wrap-right {
  width: 50%;
  margin-left: 45px;
}

.input-wrap {
  padding: 10px 5px;
  position: relative;
}

.selBusNoType {
  padding-left: 15px;
  padding-bottom: 3px;
}

.selBusNumber {
  padding-bottom: 0px;
}

.input-wrap-lr {
  display: flex;
  width: 100%;
}
.input-wrap-left {
  width: 75%;
}

.input-wrap-right {
  width: 25%;
}

.input-box {
  padding: 1px 0px 1px 0px;
  border: solid 1px #a6a6a6;
  border-radius: 5px;
  position: relative;
}

.form-label {
  position: absolute;
  left: 5px;
  top: -7px;
  color: #777;
  font-size: 12px;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  font-weight: 500;
  pointer-events: none;
  background: #fff;
  padding: 0 2px;
}

.input-box.inputFocus,
.bus-info-select-box.inputFocus,
.gps-select-box.inputFocus {
  border: 2px solid #00aeef;
}
.labelFocus {
  color: #00aeef;
  font-weight: bold;
}

.inputBusNumber {
  width: 98%;
}

.inputDisabled {
  background: #f6f6f6;
  border: solid 1px #dfdfdf;
}

.selMstBusNoType {
  padding-bottom: 3px;
  padding-left: 15px;
  margin-top: 5px;
}

.selMstBusNoType .custome_radio:checked + label,
.selMstBusNoType .custome_radio:not(:checked) + label {
  padding-right: 13px;
}

.inputMstBusNumber {
  width: 98%;
}

.inputCoach {
  width: 100%;
}

.labelBusUsage {
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
}

.busUsageWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.busUsageBox {
  border: solid 1px #f5f7f9;
  width: 126px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px #ccc;
  padding-top: 30px;
  cursor: pointer;
}

.busUsageIcon {
  text-align: center;
}
.busUsageLabel {
  text-align: center;
  margin-top: 5px;
}

.busUsageRadio {
  opacity: 0;
}

.activeBusUsage {
  border: solid 2px #00aeef;
  color: #00aeef;
  font-weight: 600;
}

.activeBusUsage svg {
  fill: #0086ff;
}

.seatChartBox {
  border: solid 6px #acacac;
  width: 395px;
  height: 467px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cecece;
  font-size: 13px;
}

.input-wrap input {
  padding: 15px 7px 15px 15px;
  border-radius: 5px;
  width: 100%;
  height: 39px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.txtInputLabel {
  position: absolute;
  left: 23px;
  top: 22px;
  color: #444444;
  font-size: 13px;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  font-weight: 600;
  pointer-events: none;
}

.txtInputActiveLabel {
  color: #00aeef;
  background: #fff;
  padding: 0 4px;
  font-size: 12px;
  top: 4px;
  left: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 0.3s ease;
  padding: 0 2px;
}

.txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
}

.input-wrap input:focus,
.bus-info-input-wrap input:focus,
.gps-input-wrap input:focus,
.otp-input-wrap input:focus {
  border: solid 2px #00aeef;
}

.egLabel {
  font-style: italic;
  color: #444444;
  font-size: 11px;
  left: 10px;
  position: absolute;
  bottom: -7px;
}

.txtMstBusNumber {
  display: flex;
  padding: 5px 5px 20px 5px;
}

.txtMstBusNumberBox {
  width: 87px;
}

.input-seperator {
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #cccccc;
}
.txtMstBusNumber .egLabel {
  bottom: 5px;
}

/* Bus Info CSS */
.bus-info-container {
  padding: 20px 13% 20px 13%;
}

.bus-info-form {
  max-width: 1010px;
  margin: 0 auto;
  /* background: lightgoldenrodyellow; */
}

.bus-info-inputs {
  /* border: solid 1px red; */
}

.mstBusNoLabel {
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
  margin: 5px;
}

.bus-info-input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bus-info-input-wrap {
  width: 25%;
  display: flex;
  margin: 7px 5px 7px 5px;
  position: relative;
}

.bus-info-input-box {
  width: 48px;
}

.bus-info-input-wrap input {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.bus-info-input-wrap.busnum input {
  padding: 10px 2px 10px 2px;
}

.bgColor1 {
  background: #f2fafe;
}

.bus-info-select-box {
  padding: 1px 0px 1px 0px;
  border: solid 1px #a6a6a6;
  border-radius: 5px;
  position: relative;
}

.inputProprietor {
  width: 100%;
  height: 32px;
}

.txtCenter {
  text-align: center;
}

.inputProprietor .chosen-container-single .chosen-single {
  height: 28px;
  padding: 4px 0px 0px 8px;
}

.inputProprietor .chosen-container-single .chosen-single div b {
  top: 10px;
}

.inputProprietor
  .chosen-container-active
  .chosen-with-drop
  .chosen-single
  div
  b {
  top: 8px;
}

.inputProprietor .chosen-container-single .chosen-single span {
  font-size: 12px;
}

.bus-info-input-wrap .txtInputLabel {
  position: absolute;
  left: 10px;
  top: 9px;
  color: #444444;
  font-size: 12px;
  transition: 0.3s ease;
  letter-spacing: 0.5px;
  font-weight: 500;
  pointer-events: none;
}

.bus-info-input-wrap .txtInputActiveLabel {
  color: #00aeef;
  background: #fff;
  padding: 0 4px;
  font-size: 12px;
  top: -6px;
  left: 5px;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 0 2px;
}

.bus-info-input-wrap .txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
  font-size: 11px;
}

.bus-info-select-box .form-label {
  font-size: 11px;
}

.bus-info-select-box .labelFocus {
  font-size: 12px;
}

.bus-document-header {
  border: solid 1px #e5e5e5;
  padding: 12px 13% 12px 13%;
  background: #f2fafe;
  font-weight: 600;
}

.bus-document-body-wrap {
  max-width: 1010px;
  margin: 0 auto;
}

.bus-document-header-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bus-document-header-col {
  padding-left: 10px;
}

.bus-document-header-col1 {
  width: 25%;
}
.bus-document-header-col2 {
  width: 23%;
}
.bus-document-header-col3 {
  width: 23%;
}

.bus-document-header-col4 {
  width: 29%;
}

.bus-document-body {
  border: solid 1px #e5e5e5;
  padding: 12px 13% 12px 13%;
}

.bus-document-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.bus-document-col {
  padding-left: 5px;
}

.bus-document-col1 {
  width: 25%;
}

.bus-document-col2 {
  width: 23%;
}

.bus-document-col3 {
  width: 23%;
}

.bus-document-col4 {
  width: 29%;
}

.bus-doc-file-input-wrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bus-doc-file-input-wrap .div-text {
  width: calc(100% - 107px);
}

.bus-doc-file-input-wrap .div-btn {
  width: 80px;
}

.bus-doc-file-input-wrap .div-icon {
  width: 27px;
}

.bus-document-body input {
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  width: 99%;
  height: 35px;
  border: solid 1px #cccccc;

  font-weight: 500;
  letter-spacing: 0.03rem;
  font-size: 13px;
  position: relative;
  font-style: italic;
  color: #8e8e8e;
}

.doc-title {
  background: #f2fafe;
  padding: 6px 10px 6px 10px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 99%;
}

.doc-title.uploaded {
  color: #0086ff;
  font-weight: 600;
}

.bus-document-body label {
  position: relative;
}

.datepicker + label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background: url(../images/cal.svg) no-repeat;
  background-size: 100% 100%;
  left: -25px;
  top: -8px;
}

.customeBrowse {
  display: flex;
}

.bus-document-body .btnBrowse {
  border: solid 1px #ff5200;
  background: #ffffff;
  color: #ff5200;
  font-weight: 600;
  border-radius: 5px;
  width: 70px;
  margin-left: 7px;
  cursor: pointer;
  padding: 9px 10px 9px 10px;
}

.bus-document-body .fileBrowse {
  display: none;
}

.bus-document-body .btnUpload {
  background: #ff5200;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 10px 13px 10px;
  outline: none;
  border: none;
  width: 100%;
  font-weight: bold;
}

.bus-document-body .btnUpload:hover {
  opacity: 0.9;
}

.pdf-file {
  background: url(../images/pdf.png) no-repeat;
  width: 21px;
  height: 28px;
  margin: 4px 0px 3px 3px;
}

.bus-document-row .date {
  position: relative;
  display: table;
}

/* CSS for GPS tab start*/
.gps-container {
  padding: 20px 13% 20px 13%;
}

.gps-form {
  max-width: 1010px;
  margin: 0 auto;
  /* background: lightgoldenrodyellow; */
}

.gps-inputs {
  border: none;
}

.gps-input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.gps-input-wrap {
  width: 25%;
  display: flex;
  margin: 7px 5px 7px 5px;
  position: relative;
}

.gps-input-box {
  width: 48px;
}

.gps-input-wrap input {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.gps-input-wrap.busnum input {
  padding: 10px 2px 10px 2px;
}

.btnEnableGPS {
  position: relative;
  padding: 0px 0px 0px 0px;
  font-weight: bold;

  background: #ffffff;
  border-radius: 15px;
  margin: 0px 7px 0 0;
  width: 187px;
  cursor: pointer;
  border: solid 1px #ff5200;
  font-size: 12px;
}

.btnInnerWraper {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 3px 0px;
  width: 100%;
}

.btnLeftWrap {
  width: 22%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.btnRightWrap {
  width: 78%;
  display: flex;
  align-items: center;
  color: #ff5200;
  letter-spacing: 0.5px;
}

.svg-setting {
  fill: #ff5200;
  width: 19px;
  height: 19px;
}

.btnDisableGPS {
  background: #f6f6f6;
  border: solid 1px #dfdfdf;
}

.btnDisableGPS .svg-setting {
  fill: #acacac;
}

.btnDisableGPS .btnRightWrap {
  color: #acacac;
}

.gps-status {
  justify-content: end;
  margin: 7px 5px 0px 5px;
}

.btnGPSWorking {
  position: relative;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  background: #1db24b;
  border-radius: 20px;
  margin: 0px;
  width: 150px;
  cursor: pointer;
  border: none;
  font-size: 13px;
}

.btnGPSWorkingWrap {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
  width: 100%;
  padding: 0px 0 0px 0;
}

.btnGPSWorkingIcon {
  width: 28%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.btnGPSWorkingText {
  width: 72%;
  display: flex;
  align-items: center;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-top: 2px;
}

.svgGpsWorking {
  fill: #ffffff;
  width: 23px;
  height: 23px;
}

/* GPS Not Working */
.btnGPSNotWorking {
  position: relative;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  background: #ff516a;
  border-radius: 20px;
  margin: 0px;
  width: 180px;
  cursor: pointer;
  border: none;
  font-size: 13px;
}

.btnGPSNotWorkingWrap {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
  width: 100%;
  padding: 0px 0 0px 0;
}

.btnGPSNotWorkingIcon {
  width: 26%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.btnGPSNotWorkingText {
  width: 74%;
  display: flex;
  align-items: center;
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-top: 2px;
}

.svgGpsNotWorking {
  fill: #ffffff;
  width: 23px;
  height: 23px;
}

.tabGPS .custome_radio:checked + label:before {
  top: 0px;
}

.tabGPS .custome_radio:checked + label:after,
.tabGPS .custome_radio:not(:checked) + label:after {
  top: 5px;
}

.tabGPS .custome_radio:not(:checked) + label:before {
  top: 0px;
}

.rdo-gps-for {
  width: 100%;
  padding-left: 3px;
  margin-top: 15px;
  position: relative;
}

.gps-select-box {
  padding: 1px 0px 1px 0px;
  border: solid 1px #a6a6a6;
  border-radius: 5px;
  position: relative;
}

.selGPSVendor {
  width: 100%;
  height: 38px;
}

.for-associate-busno {
  width: 100%;
}

.gps-input-wrap.for-associate-busno input {
  height: 38px;
  border-radius: 5px;
}

.for-associate-busno .txtInputLabel {
  left: 15px;
  top: 11px;
}

.for-associate-busno .txtInputActiveLabel {
  top: -5px;
  left: 5px;
}

.for-associate-busno .chosen-container-single .chosen-single {
  padding: 7px 0px 0px 17px;
}

.for-associate-busno .chosen-container-single .chosen-drop {
  margin-top: -3px;
}

.gps-input-wrap .txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
  font-size: 11px;
}

.gps-select-box .form-label {
  font-size: 11px;
}

.lblHeading {
  font-weight: 600;
  color: #000000;
  margin: 7px 5px 5px 5px;
}

.rdo-mnt-comm-type {
  width: 100%;
  padding-left: 3px;
}

.gps-input-wrap .fees-amt {
  width: 60px;
  position: relative;
  top: -5px;
  left: -10px;
  padding: 10px 5px 10px 5px;
  font-weight: 500;
}

.btnSaveGPS {
  position: absolute;
  padding: 12px 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background: #ff5200;
  border: none;
  border-radius: 5px;
  margin: 0;
  width: 188px;
  cursor: pointer;
  top: -11px;
  right: 350px;
}

.btnSaveGPS:hover {
  opacity: 0.9;
}

.gps-result {
  border: solid 1px #f3f3f3;
  width: 100%;
  box-shadow: 0px 2px 5px #ccc;
  border-radius: 5px 5px 0px 0px;
  margin: 7px 5px 7px 5px;
}

.gps-result-header {
  background: #e5f3ff;
  height: 35px;
}

.gps-result-header .gps-result-data-col {
  padding: 12px 8px 12px 8px;
}

.gps-result-data-row {
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.gps-result-data-col {
  padding: 9px 8px 7px 8px;
}

.gps-result-data-col.col1 {
  width: 25%;
}

.gps-result-data-col.col2 {
  width: 25%;
}

.gps-result-data-col.col3 {
  width: 25%;
}

.gps-result-data-col.col4 {
  width: 25%;
}

.gps-brd-right {
  border-right: solid 1px #d9d9d9;
}

.gps-result-body .gps-result-data-row {
  color: #575757;
}

.gps-result-body .gps-result-data-row:nth-child(odd) {
  background: #ffffff;
}

.gps-result-body .gps-result-data-row:nth-child(even) {
  background: #f7fbff;
}

.for-associate-busno .chosen-container-single .chosen-single {
  padding: 7px 0px 0px 17px;
}

.for-associate-busno .chosen-container-single .chosen-drop {
  margin-top: -3px;
}

.for-new-data {
  width: 50%;
}

.gps-input-wrap.for-new-data input {
  height: 38px;
  border-radius: 5px;
}

.for-new-data .txtInputLabel {
  left: 15px;
  top: 11px;
}

.for-new-data .txtInputActiveLabel {
  top: -5px;
  left: 5px;
}

.for-new-data .chosen-container-single .chosen-single {
  padding: 7px 0px 0px 17px;
}

.for-new-data .chosen-container-single .chosen-drop {
  margin-top: -3px;
}

.gps-input-wrap.vendor-block {
  width: 100%;
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 35px;
}

.vendor-data {
  width: 100%;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0px 2px 5px #ccc;
}
.vendor-data-header {
  height: 34px;
}

.vendor-data-header .vendor-data-col {
  padding: 11px 8px 11px 8px;
}

.vendor-data-row {
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}

.vendor-data-col {
  padding: 9px 8px 7px 8px;
}

.vendor-data-col.col1 {
  width: 10%;
  display: flex;
  align-items: center;
}

.vendor-data-col.col2 {
  width: 20%;
  display: flex;
  align-items: center;
}

.vendor-data-col.col3 {
  width: 70%;
  display: flex;
  align-items: center;
}

.vendor-data-list .vendor-data-row:nth-child(even) {
  background: #ffffff;
}

.vendor-data-list .vendor-data-row:nth-child(odd) {
  background: #f7fbff;
}

.vendor-data input {
  padding: 5px 10px 5px 10px;
  height: 30px;
}

/* associate vendor data */

.associate-vendor-data {
  width: 100%;
  border-radius: 5px;
  padding: 0px;
  box-shadow: 0px 2px 5px #ccc;
}

.associate-vendor-data-list {
  overflow: auto;
  width: 987px;
  height: 150px;
}

.associate-vendor-data-row {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  color: #444444;
  width: 1130px;
}

.associate-vendor-data-col {
  padding: 9px 8px 7px 8px;
  display: flex;
  align-items: center;
}

.associate-vendor-data-col.col1 {
  width: 160px;
}

.associate-vendor-data-col.col2 {
  width: 220px;
}

.associate-vendor-data-col.col3 {
  width: 150px;
}

.associate-vendor-data .custome_radio:checked + label,
.associate-vendor-data .custome_radio:not(:checked) + label {
  color: #444444;
  padding-left: 25px;
}

.associate-vendor-data-list .associate-vendor-data-row:nth-child(odd) {
  background: #ffffff;
}

.associate-vendor-data-list .associate-vendor-data-row:nth-child(even) {
  background: #f7fbff;
}

/* width */
.associate-vendor-data ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.associate-vendor-data ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.associate-vendor-data ::-webkit-scrollbar-thumb {
  background: #cccccc;
}

/* Handle on hover */
.associate-vendor-data ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* information popup css */
.information-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.information-popup-content {
  position: fixed;
  width: 400px;
  height: 140px;
  z-index: 1001;
  top: 200px;
  /* left: calc(25%); */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
}

.information-popup-header {
  background: #0086ff;
  width: 100%;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.information-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.information-popup-body {
  background: #ffffff;
  width: 100%;
  padding: 10px;
}

.information-popup-body .message {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
}

.information-popup-body .buttons {
  padding-top: 10px;
  display: flex;
  justify-content: end;
}

.information-popup-body .buttons .btnContinue {
  background: #ffffff;
  margin-right: 10px;
  padding: 8px 10px;
  border: solid 1px #ff5200;
  border-radius: 5px;
  color: #ff5200;
  font-weight: 600;
  letter-spacing: 1px;
}

.information-popup-body .buttons .btnContinue:hover {
  box-shadow: 3px 3px 5px #cccccc;
}

.information-popup-body .buttons .btnCancel {
  background: #ff5200;
  margin-right: 10px;
  padding: 8px 17px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
}

.information-popup-body .buttons .btnCancel:hover {
  box-shadow: 3px 3px 5px #cccccc;
}

/* otp popup css */
.otp-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.otp-popup-content {
  position: fixed;
  width: 325px;
  height: 220px;
  z-index: 1001;
  top: 200px;
  /* left: calc(25%); */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
}

.otp-popup-header {
  background: #0086ff;
  width: 100%;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}

.otp-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.otp-popup-body {
  background: #ffffff;
  width: 100%;
  padding: 10px;
}

.otp-input-wrap {
  width: 100%;
  margin: 7px 0px 7px 0px;
  position: relative;
  display: flex;
  justify-content: center;
}

.otp-input-wrap input {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  width: 100%;
  height: 37px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.otp-popup-body .txtInputLabel {
  left: 15px;
  top: 10px;
}

.otp-popup-body .txtInputActiveLabel {
  color: #00aeef;
  background: #fff;
  padding: 0 4px;
  font-size: 12px;
  top: -6px;
  left: 5px;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 0 2px;
}

.otp-popup-body .txtInputActiveLabel.filled {
  color: #777;
  font-weight: 500;
  font-size: 11px;
}

.otp-label {
  color: #666666;
  font-weight: 500;
  font-size: 12px;
}

.btnSubmitOtp {
  background: #ff5200;
  padding: 10px 17px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
}

.btnSubmitOtp:hover {
  opacity: 0.9;
}

.resend-otp {
  margin-top: 16px;
  margin-bottom: 0;
}

.otp-resend {
  color: #0086ff;
  cursor: pointer;
  text-decoration: underline;
}

/* Bus Amenities CSS */
.bus-amenities-container {
  padding: 20px 13% 20px 13%;
}

.bus-amenities-form {
  max-width: 850px;
  margin: 0 auto;
  /* background: lightgoldenrodyellow; */
}
.bus-amenities-inputs {
  border: none;
}

.bus-ame-input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bus-ame-input-wrap {
  width: 25%;
  display: flex;
  margin: 7px 5px 7px 5px;
  position: relative;
}

.bus-ame-input-box {
  width: 48px;
}

.bus-ame-input-wrap input {
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.bus-ame-input-wrap.busnum {
  width: 100%;
}

.bus-ame-input-wrap.busnum input {
  padding: 10px 2px 10px 2px;
}

.tab-ame-type-wrap {
  border-bottom: solid 1px #e5e5e5;
  width: 100%;
  padding-bottom: 6px;
}

.general-ame-list-wrap {
  border-bottom: solid 1px #e5e5e5;
  width: 100%;
  padding-bottom: 15px;
}

.covid-ame-list-wrap {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: none;
}

.ame-in-bus-wrap {
  width: 100%;
}

.tabAmeType {
  background: #ffffff;
  text-transform: uppercase;
  color: #000000;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.tabAmeType.active-ame-type {
  background: #0086ff;
  color: #ffffff;
}

.tabAmeType input {
  padding: 0px;
  width: auto;
  height: auto;
  visibility: hidden;
  margin: 0;
  position: absolute;
  top: 12px;
  left: 25px;
}

.brdBtm {
  border-bottom: solid 1px #e5e5e5;
  width: 100%;
  padding-bottom: 6px;
}

.amenities-list-wrap {
  width: 100%;
}
.amenities-item {
  width: 210px;
  margin-bottom: 7px;
  float: left;
}

.amenities-item-wrap {
  display: flex;
  width: 100%;
  align-items: center;
}

.amenities-item-left-wrap {
  width: 12%;
}

.amenities-item-right-wrap {
  width: 98%;
}

.amenities-item .amenities-checkbox {
  height: 17px;
  width: 17px;
}

.amenities-title {
  background: #f2fafe;
  width: 90%;
  padding: 8px 10px;
  border-radius: 5px;
  color: #202020;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  line-height: 1.428;
}

.bus-ame-input-row .covid-ame {
  margin-bottom: 0;
}

.covid-ame-heading {
  color: #080808;
  margin-bottom: 0;
}

.ex-mark {
  background: url(../images/info.svg) 100% no-repeat;
  background-size: 100% 100%;
  width: 25px;
  height: 15px;
  display: inline-block;
  cursor: pointer;
}

.tooltip-inner {
  max-width: 500px;
  padding: 10px;
}

.inbus-ame-item {
  width: 280px;
  margin-bottom: 7px;
  float: left;
}

.inbus-ame-item-wrap {
  display: flex;
  width: 100%;
  align-items: center;
}

.inbus-ame-item-left-wrap {
  width: 9%;
}

.inbus-ame-item-center-wrap {
  width: 61%;
}

.inbus-ame-item-right-wrap {
  width: 40%;
  padding-right: 8px;
}

.inbus-ame-item .amenities-checkbox {
  height: 17px;
  width: 17px;
}

.inbus-ame-item .amenities-title {
  background: #f2fafe;
  width: 95%;
  padding: 8px 10px;
  border-radius: 5px;
  color: #202020;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.inbus-ame-bus-type-select {
  padding: 1px 0px 1px 0px;
  border: solid 1px #a6a6a6;
  border-radius: 5px;
  position: relative;
  width: 88px;
}

.inbus-ame-type .chosen-container-single .chosen-single {
  height: 27px;
  padding: 2px 0px 0px 9px;
}

.inbus-ame-type .chosen-container-single .chosen-single span {
  font-weight: 500;
  font-size: 12px;
}

.inbus-ame-type .chosen-container-single .chosen-single div b {
  top: 10px;
  right: 5px;
}

.inbus-ame-type .chosen-container-active.chosen-with-drop .chosen-single div b {
  top: 10px;
}

.inbus-ame-type .chosen-container-single .chosen-drop {
  padding: 3px;
  margin-top: 2px;
}

/* Bus Pictures CSS */
.bus-pictures-container {
  padding: 20px 13% 20px 13%;
}

.bus-pictures-form {
  max-width: 1000px;
  margin: 0 auto;
  /* background: lightgoldenrodyellow; */
  height: 300px;
}

.bus-pictures-inputs {
  border: none;
}

.bus-number-input-row {
  width: 100%;
  display: flex;
}

.bus-number-input-wrap {
  width: 50%;
  display: flex;
  margin: 7px 5px 7px 5px;
  position: relative;
}

.bus-pictures-notes {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 15px;
  color: #666666;
  font-size: 12px;
  font-weight: 600;
}

.bus-pictures-notes .ex-mark {
  width: 30px;
  height: 20px;
}

.bus-number-input-box {
  width: 73px;
}

.bus-number-input-wrap input {
  padding: 10px 2px 10px 2px;
  border-radius: 5px;
  width: 100%;
  height: 37px;
  border: solid 1px #a6a6a6;
  color: #444444;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 13px;
}

.bus-pictures-wrapper {
  margin: 7px 5px 7px 5px;
}

.bus-pictures-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.bus-picture-block {
  width: 24%;
}

.image-box {
  border: dashed 1px #0086ff;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background: #f7f9fa;
}

.heading {
  font-size: 12px;
  color: #202020;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 15px;
}

.add-image {
  padding: 30px 0px 10px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-icon {
  background: url(../images/add-image.svg) no-repeat;
  background-size: 100% 100%;
  width: 70px;
  height: 70px;
}

.browse-box {
  padding: 10px;
  width: 100%;
  height: 32px;
}

.browse-link {
  color: #0086ff;
  text-decoration: underline;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.progress-bar-box {
  padding: 5px 0px 5px 5px;
  width: 100%;
  display: flex;
}

.probar {
  width: 90%;
  border-radius: 10px 10px 10px 10px;
  border: solid 1px #e7e8e9;
  background: #ffffff;
  height: 15px;
}

.probar-loading {
  width: 0%;
  background: #0086ff;
  border-radius: 10px 10px 10px 10px;
  height: 14px;
  transition: all 2s;
}

.close-icon {
  width: 10%;
  background: url(../images/close.svg) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  margin-left: 5px;
  height: 12px;
  margin-top: 2px;
}

.uploaded-img {
  position: relative;
}

.uploaded-img img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.action-wrapper {
  position: absolute;
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: end;
  padding-top: 5px;
  padding-right: 8px;
}

.action-wrapper ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50px;
}

.action-wrapper ul li {
  background: #516174;
  border-radius: 14px;
  width: 20px;
  height: 20px;
  position: relative;
}

.del-icon {
  background: url(../images/delete.svg) 100% no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 11px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 5px;
}

.edit-icon {
  background: url(../images/edit.svg) 100% no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 1px;
}

/* bus picture upload error popup css */
.bus-picture-error-popup-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.bus-picture-error-popup-content {
  position: fixed;
  width: 373px;
  height: 190px;
  z-index: 1001;
  top: 200px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
}

.bus-picture-error-popup-header {
  background: #0086ff;
  width: 100%;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 9px 9px 0px 0px;
}

.bus-picture-error-popup-body {
  background: #ffffff;
  width: 100%;
  padding: 10px 24px 0px 24px;
}

.bus-picture-error-popup-content .error-msg {
  color: #ff5200;
  line-height: 22px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
}

.btnUpload {
  background: #ff5200;
  padding: 12px 12px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 10px;
}

.btnUpload:hover {
  opacity: 0.9;
}

.bus-picture-error-popup-content .note-msg {
  font-size: 11px;
  font-style: italic;
  margin-top: 15px;
  letter-spacing: 0.2px;
}


.bus-pictures-form .fileBrowse {
  display: none;
}
